# Preprocessing and training

In this notebook we will create a model for loan eligibility. It will provide some simple preprocessing teqniques and a simple model.

Let's start!

## Import data

Let's import the data we will work with and have a quick look. 

- For simplicity reasons we will not go through data visualisations in this tutorial.
- The data lives in a CSV in this phase for simplicity reasons.
- The data laoded at this point is what we usually refer to as the dataset

In [80]:
import pandas as pd

data = pd.read_csv("./Loan_Data.csv")

data.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y

Lets look at some meta data of our dataset.

- We have 13 collumns to work with
- Some of the collumns contain empty values

In [81]:
print("Collumns:", data.columns, "\n")
print(data.isna().any(), "\n")

Collumns: Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

Loan_ID              False
Gender                True
Married               True
Dependents            True
Education            False
Self_Employed         True
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount            True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
Loan_Status          False
dtype: bool

Lets remove rows with empty values:

In [82]:
print("Shape before droping N/A:", data.shape, "\n")
data = data.dropna()
print("Shape after droping N/A:", data.shape)

Shape before droping N/A: (614, 13)

Shape after droping N/A: (480, 13)

## Label encoding

In machine learning, we usually deal with datasets that contain multiple labels in one or more than one columns. 
These labels can be in the form of words or numbers. To make the data understandable or in human-readable form, the training data is often labelled in words. 

Label Encoding refers to converting the labels into a numeric form so as to convert them into the machine-readable form. Machine learning algorithms can then decide in a better way how those labels must be operated. It is an important pre-processing step for the structured dataset in supervised learning.

In [83]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
label_columns = ['Gender','Married','Education','Self_Employed','Loan_Status']

for label_column in label_columns:
    data[label_column] = label_encoder.fit_transform(data[label_column])

data.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,Rural,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,Urban,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,Urban,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,Urban,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,Urban,1
6,LP001013,1,1,0,1,0,2333,1516.0,95.0,360.0,1.0,Urban,1
7,LP001014,1,1,3+,0,0,3036,2504.0,158.0,360.0,0.0,Semiurban,0
8,LP001018,1,1,2,0,0,4006,1526.0,168.0,360.0,1.0,Urban,1
9,LP001020,1,1,1,0,0,12841,10968.0,349.0,360.0,1.0,Semiurban,0
10,LP001024,1,1,2,0,0,3200,700.0,70.0,360.0,1.0,Urban,1

## One Hot Encoding

Most Machine Learning algorithms cannot work with categorical data and needs to be converted into numerical data. Sometimes in datasets, we encounter columns that contain categorical features (string values) for example parameter Gender will have categorical parameters like Male, Female. These labels have no specific order of preference and also since the data is string labels, machine learning models misinterpreted that there is some sort of hierarchy in them.

One approach to solve this problem can be label encoding where we will assign a numerical value to these labels for example Property Area mapped to 0, 1, 2. But this can add bias in our model as it will start giving higher preference to the one parameter as 2>1>0 and ideally both labels are equally important in the dataset. To deal with this issue we will use One Hot Encoding technique.

In [84]:
categorical_columns = ['Dependents','Property_Area']

for column in categorical_columns:
  data[column] = data[column].astype('category')
  data[f'{column}_new'] = data[column].cat.codes
  
enc = preprocessing.OneHotEncoder()
enc_data = pd.DataFrame(enc.fit_transform(data[['Property_Area_new','Dependents_new']]).toarray())

data = data.join(enc_data)
  
data.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,...,Loan_Status,Dependents_new,Property_Area_new,0,1,2,3,4,5,6
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,...,0,1,0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,...,1,0,2,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,...,1,0,2,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,...,1,0,2,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,...,1,2,2,0.0,0.0,1.0,1.0,0.0,0.0,0.0
6,LP001013,1,1,0,1,0,2333,1516.0,95.0,360.0,...,1,0,2,0.0,1.0,0.0,0.0,0.0,0.0,1.0
7,LP001014,1,1,3+,0,0,3036,2504.0,158.0,360.0,...,0,3,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0
8,LP001018,1,1,2,0,0,4006,1526.0,168.0,360.0,...,1,2,2,0.0,1.0,0.0,0.0,1.0,0.0,0.0
9,LP001020,1,1,1,0,0,12841,10968.0,349.0,360.0,...,0,1,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0
10,LP001024,1,1,2,0,0,3200,700.0,70.0,360.0,...,1,2,2,0.0,0.0,1.0,0.0,0.0,1.0,0.0

## Train the model

Now the time comes to train the model! Although people view this part as the sexy part, it is usually the most straightforward one. First clean the collumns that provide no real info and fit the model to the data. We will be using XGBoost for this example.

XGBoost is an optimized distributed gradient boosting library designed to be highly efficient, flexible and portable. It implements machine learning algorithms under the Gradient Boosting framework. XGBoost provides a parallel tree boosting (also known as GBDT, GBM) that solve many data science problems in a fast and accurate way. The same code runs on major distributed environment (Hadoop, SGE, MPI) and can solve problems beyond billions of examples.

In [85]:
import numpy as np

data = data.drop(['Loan_ID', 'Property_Area', 'Dependents', 'Property_Area_new', 'Dependents_new'],axis=1)
data = data.astype(np.float64)
data.head()

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,0,1,2,3,4,5,6
1,1.0,1.0,0.0,0.0,4583.0,1508.0,128.0,360.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,1.0,1.0,0.0,1.0,3000.0,0.0,66.0,360.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,1.0,1.0,1.0,0.0,2583.0,2358.0,120.0,360.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,6000.0,0.0,141.0,360.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,1.0,1.0,0.0,1.0,5417.0,4196.0,267.0,360.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

Before feeding all this data to the model we need to split it in training and test datasets

- Training Dataset: The sample of data used to fit the model. The model sees and learns from this data.
- Test Dataset: The sample of data used to provide an evaluation of a final model fit on the training dataset.

In [87]:
import xgboost
from sklearn.model_selection import train_test_split

xgb = xgboost.XGBClassifier()
X = data.drop(['Loan_Status'],axis=1)
y = data['Loan_Status']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

xgb.fit(X_train, y_train).score(X_test, y_test)
xgb.save_model("model.json")

And there is is! The model is trained and the number above is the accuracy the model had on the test set.